body {
    background-color: #1C9CB5;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.container {
  padding: 240px 120px;
}
.well-lg a {
  color: white;
  font-family: lobster;
}
#random_page a {
  color: white;
}
#results div{
  margin-top:2%;

  color: white;
  background-color: #65C2D3;
}
